WindowsFormsApp1/WindowsFormsApp1/Web References/Myserver/Service10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1624/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sprint1" />
  <xs:element name="Add_Repairer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="addres" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cellno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cnic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_RepairerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="is_login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="is_loginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="is_loginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_Clients">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="problem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="addres" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cellno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="device" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_ClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_ClientsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_Client">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_ClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sprint1" minOccurs="0" name="Search_ClientResult" nillable="true" type="q1:client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Repairer_NotBuzy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Sprint1" minOccurs="0" name="r" nillable="true" type="q2:Repairer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Repairer_NotBuzyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Repairer_NotBuzyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Assign_client">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Sprint1" minOccurs="0" name="c" nillable="true" type="q3:client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Assign_clientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Assign_clientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_repairers_list">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_repairers_listResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Sprint1" minOccurs="0" name="Get_repairers_listResult" nillable="true" type="q4:ArrayOfRepairer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_client_list">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_client_listResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Sprint1" minOccurs="0" name="Get_client_listResult" nillable="true" type="q5:ArrayOfclient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="make_admin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Sprint1" minOccurs="0" name="a" nillable="true" type="q6:Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="make_adminResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="fix_app">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Sprint1" minOccurs="0" name="c" nillable="true" type="q7:client" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fix_appResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_Repairer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_RepairerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Sprint1" minOccurs="0" name="Search_RepairerResult" nillable="true" type="q8:Repairer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="remove_order">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Sprint1" minOccurs="0" name="c" nillable="true" type="q9:client" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="remove_orderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="del_repairer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="del_repairerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="edit_repairer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Sprint1" minOccurs="0" name="r" nillable="true" type="q10:Repairer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="edit_repairerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="edit_repairerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="save_feedback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Sprint1" minOccurs="0" name="c" nillable="true" type="q11:client" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="complaint" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="save_feedbackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="save_feedbackResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Sprint1" minOccurs="0" name="c" nillable="true" type="q12:client" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="payResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="payResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="start">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="startResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_admin_name">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_admin_nameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_admin_nameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_admin_id">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_admin_idResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_admin_idResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Sprint1" minOccurs="0" name="composite" nillable="true" type="q13:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Sprint1" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q14:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>